.wrapper 
  =@user.first_name + " " + @user.last_name + '\'s Profile Page'
  %br
  %br
  =image_tag @user.image_url
  %br
  %br
  ='Email: ' + @user.email
  %br
  #about-me
    = 'About Me: ' + @user.about if @user.about
  %br
  %br
  - if current_user.id == @user.id
    %div#show_form_button
      = button_to 'Update Info'
    %div#change_about
      = render "about_me_form"

  - if @user.lended_items.empty?
    %h6 
      = @user.first_name + " currently has no lended items."
  - else
    %h4
      = "Items that " + @user.first_name + " are currently lending out:"
      %h6{:class => "lended_item_list_title"} 
        %ul{:class => "lended_item_list"}
          - @user.lended_items.each do |lended_item|
            %li
              = lended_item.title
      
  - if current_user.id == @user.id
    #nav_tabs
      .tabs
        %ul
          %li
            = link_to "Pending Transactions", "#pending_trans"
          %li
            = link_to "Borrowed Items", "#borrowed_items"

      .divs
        #pending_trans
          %h3 Your pending transactions:
          - current_user.pending_requests.each do |request|
            %p
              - if request.status == "pending"
                = [User.find(request.user_id).first_name,request.item.title].join(" wants to borrow ")
                = (button_to "Accept?", accepted_borrowing_path(request.id), style: "float: left;margin-right: 10px;", method: :get) 
                = (button_to "Decline?", declined_borrowing_path(request.id), method: :get)

        #borrowed_items
          %h3 Things you're borrowing( Don't forget to return it! ):
          - current_user.borrowings.each do |borrowing|    
            %p
            = "You're borrowing " + [Item.find(borrowing.item_id).lender.first_name, Item.find(borrowing.item_id).title].join("'s ")