%div{:id => 'main', :role => "main"}
  %section{:class => "story", :id => "first", :data => {:speed => "8", :type => "background"}}
    %div.smashinglogo{:data => {:type => "sprite", :offsetY => "100", :Xposition => "50%", :speed => "4"}}
    %article.search
      %h1
        Rent whatever you want in seconds
      
      = search_form_for @search, :html => { :class => 'search-form', :id => 'form-with-daterange' } do |f|
        = f.text_field :description_cont, :placeholder => "I'm looking for"
        = text_field_tag :start_date,'From', :class => 'search-date-picker'
        = text_field_tag :end_date, 'To', :class => 'search-date-picker'
        = f.hidden_field :available_dates_cont
        = f.submit 'Search', :class => 'button is-inverse'

  %section{:class => "story", :id => "second", :data => {:speed => "4", :type => "background"}}
    %article
      %h1 Rent your stuff
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
  %section{:class => "story", :id => "third", :data => {:speed => "6", :type => "background"}}
    %div.photograph{:data => {:type => "sprite", :offsetY => "1250", :Xposition => "25%%", :speed => "2"}}
    %article
  
  %section{:class => "story", :id => "fourth", :data => {:speed => "4", :type => "background"}}
    %article
      %h1 Rent your stuff
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
  %section{:class => "story", :id => "fifth", :data => {:speed => "6", :type => "background"}}
    %div.photograph{:data => {:type => "sprite", :offsetY => "1250", :Xposition => "25%%", :speed => "2"}}
    %article

   
