%div{:id => 'main', :role => "main"}
  %section{:class => "story", :id => "first", :data => {:speed => "8", :type => "background"}}
    %div.smashinglogo{:data => {:type => "sprite", :offsetY => "100", :Xposition => "50%", :speed => "4"}}
    %article.search
      %h1
        Rent whatever you want in seconds
      
      = form_tag items_path,:method => 'GET',  :class => 'search-form', :id => 'form-with-daterange' do 
        = text_field_tag 'q[description_cont]', nil, :placeholder =>"I'm looking for"
        = text_field_tag :start_date, nil, :placeholder => 'From', :class => 'search-date-picker'
        = text_field_tag :end_date, nil, :placeholder => 'To', :class => 'search-date-picker'
        = submit_tag 'Search', :class => 'button is-inverse'

  %section{:class => "story", :id => "second", :data => {:speed => "4", :type => "background"}}
    %article
      %h1 
        Looking to rent something?
      %a.button.is-default{:href => '/items'}
        Check out available items

  %section{:class => "story", :id => "third", :data => {:speed => "6", :type => "background"}}
    %div.photograph{:data => {:type => "sprite", :offsetY => "1250", :Xposition => "25%%", :speed => "2"}}
    %article
  
  %section{:class => "story", :id => "fourth", :data => {:speed => "4", :type => "background"}}
    %article
      %h1 Have something laying around?
      %a.button.is-default{:href => '/auth/facebook'}
        Sign in with facebook
      to rent out your stuff.
  %section{:class => "story", :id => "fifth", :data => {:speed => "6", :type => "background"}}
    %div.photograph{:data => {:type => "sprite", :offsetY => "1250", :Xposition => "25%%", :speed => "2"}}
    %article

   
