.feedback_box
  %p
    = feedback.comment
  %p
    %span
      - if feedback.thumbs_up
        = image_tag "thumbs_up.png"
      - else
        = image_tag "thumbs_down.png"
    By
    = feedback.giver.display_name
    = time_ago_in_words feedback.created_at
    ago
