= form_for @item, :html => {:multipart => true} do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.label :start_time
    = f.date_select :start_time
  %p
    = f.label :end_time
    = f.date_select :end_time
  %p
    = f.label :price
    = f.text_field :price
  = fields_for :photo, @item.photos do |photo|
    %p
      = photo.label :file, "Image"
      = photo.file_field :file
    %p
      %span{class: "addVar"}Add Image
  %p
    = f.submit
