.container.cf
  .search-bar.cf
    .col-66.search
      %h3
        Search
      = form_tag items_path,:method => 'GET',  :class => 'search-form item-search-form', :id => 'form-with-daterange' do 
        = text_field_tag 'q[description_cont]', nil, :placeholder => "I'm looking for"
        = text_field_tag :start_date, nil, :placeholder => "From", :class => 'search-date-picker'
        = text_field_tag :end_date, nil, :placeholder => "To", :class => 'search-date-picker'
        = submit_tag 'Search', :class => 'button is-inverse'
    %ul.col-33.sorting
      %h3
        Sort by
      %li.sort{:data => {:sort => 'data-price'}}
        %a.button.is-inverse{:href => '#'}
          Price 
      %li.sort{:data => {:sort => 'data-title'}}
        %a.button.is-inverse{:href => '#'}
          Title
      %li.sort{:data => {:sort => 'default'}}
        %a.button.is-inverse{:href => '#'}
          AWESOME
  %ul#Grid
    - @items.each do |item|
      %a{:href => "#{item_path(item.id)}"}
        %li.mix.item{:data => {:price => "#{item.price}", :title => "#{item.title}"}}
          = image_tag item.photos.first.file.url
          %span.title
            = item.title
          %br
          %span
            = item.price.to_s + "$"
            per day
