.wrapper.cf{:style => "background: url('#{@item.photos.first.file}')"}
  .overlay.cf
    .col-66.cf.center
      .item-show
        .header
          %h1
            = @item.title
          %h4
            By #{ link_to @item.lender.display_name, user_path(@item.lender)}
        #galleria
          - @item.photos.each do |photo|
            =link_to image_tag(photo.file), "#{photo.file}"
        
        #nav-tabs
          .tabs
            %ul
              %li
                = link_to 'Description', '#description'
              %li
                = link_to 'Feedback', '#feedback'
              %li
                = link_to 'Map view', '#map'
          .divs
            #description
              = @item.description
            #feedback
              = form_for [@item, @feedback], url: item_create_feedback_path(@item), html: {class: "feedback_form"} do |f|
                %p
                  = f.text_area :comment, size: "60x12", placeholder: "Leave feedback"
                = f.radio_button(:thumbs_up, "up")
                = f.label(:thumbs_up_up, "Thumbs Up")
                = f.radio_button(:thumbs_up, "down")
                = f.label(:thumbs_up_down, "Thumbs Down")
                %p
                  = f.submit
              - if @item.received_feedbacks.count > 0
                %p{id: 'feedback_received_title'}
                  Feedback received:
                - @item.received_feedbacks.each do |feedback|
                  .feedback_box
                    - if feedback.thumbs_up
                      = image_tag "thumbs_up.jpg"
                    - else
                      = image_tag "thumbs_down.jpg"
                    %p
                      = feedback.comment
                    %p
                      = " - " + feedback.giver.first_name + " " + feedback.giver.last_name + " at " + feedback.created_at.strftime("%m/%d/%y")
            #map
              "LOL NO MAP HERE"

    .col-33.cf.item-borrow
      %h1
        Rent it now
      %h2
        = "$" + @item.price.to_s
      %span
        For a day
      - if @item.available
        = form_for :borrowing, :html => {"data-inavailable" =>  @item.inavailable_dates, 'data-max' => @item.max_date} do
          = submit_tag 'Rent', :class => 'button is-inverse'
          = text_field_tag 'start_date', 'From', :class => "multi-date-picker"
          = text_field_tag 'end_date', "To", :class => "multi-date-picker"
      %h2.or
        Or
      = link_to "Message", new_user_conversation_path(current_user), :class => 'button is-inverse wide'
      %span.owner
        The product owner

:javascript
  Galleria.loadAssetTheme('classic');

  Galleria.configure({
    imageCrop: true,
    transition: 'slide',
    log: true,
    lightbox: true,
    dummy: '/assets/photos/dummy.png' 
  });  

  Galleria.run('#galleria');
  Galleria.run('#galleria');
