%html
  %head
    %title Stuffwithfriends
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"

    = csrf_meta_tags 
  %body
    %nav
      .nav-header

        = link_to "Rentable", items_path, {:class => "nav_title"}
      .login-area
        -if current_user
          = "Signed in as " + current_user.first_name + " " + current_user.last_name + ' |'
          =link_to "Sign out", '/logout'
        -else 
          = link_to '', '/auth/facebook',  {:class => 'sb flat facebook' }
          = link_to "Sign in with Facebook", "/auth/facebook"

    =yield

    %footer.story.cf
      %ul
        %li
          = link_to 'about us', '#'
        %li
          = link_to 'contact', '#'
        %li 
          = link_to 'awesome', '#'
        %li 
          = link_to 'yeahhh', '#'
